@import "compass/css3/box-sizing";

body {
    background: #232323;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}

.module-login{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    fieldset{
        border:none;
        font-size: 14px;
        max-width:300px;
        margin: 0 auto;
        legend{
            font-weight: bold;
            color: #e8e8e8;
        }

        input{
            padding: 10px;
            width:100%;
            
            @include box-sizing(border-box);
    
            border-radius: 2px;
            border:none;
            font-size: 12px;
            font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
            margin: 10px 0;
           -webkit-appearance: none;

           &.placeholder-visible{
            color:#a9a9a9;
           }

            &[type="text"]{

            }
            
            &[type="submit"]{
                background:#db4a39;
                color:#e8e8e8;
                font-weight: bold;
                font-size: 12px;
                cursor: pointer;
            }

        }

    }
}